DATABASE_URL="mongodb+srv://user:password@cluster.mongodb.net/foodflow?retryWrites=true&w=majority"
JWT_ACCESS_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
JWT_REFRESH_SECRET="replace-with-a-different-long-random-secret-at-least-32-characters"
CLIENT_ORIGIN="http://localhost:5173"
PORT=4000
