DATABASE_URL="mongodb+srv://..."
JWT_ACCESS_SECRET="change-me-to-a-32-char-minimum-secret"
JWT_REFRESH_SECRET="change-me-to-a-different-32-char-secret"
CLIENT_ORIGIN="http://localhost:5173"
PORT=4000
